* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

i,
svg {
  pointer-events: none;
}

h1 {
  font-size: 4rem;
  font-family: "Ephesis", cursive;
}

h2, label, .tempo-text {
  font-size: 3.5rem;
  font-family: "Birthstone", cursive;
}

h3 {
  font-size: 3rem;
  font-family: "Birthstone", cursive;
}

h4 {
  font-size: 2rem;
  font-family: "PT Serif", serif;
}

h5 {
  font-size: 2rem;
  font-weight: normal;
  font-family: "PT Serif", serif;
}

p {
  font-size: 1.6rem;
  font-family: "PT Serif", serif;
}

body {
  background: linear-gradient(120deg, rgba(217, 175, 166, 0.5), transparent);
  background-repeat: no-repeat;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 90vh;
  padding-top: 1rem;
  text-align: center;
}

.color-palette {
  width: 100%;
  position: relative;
}
.color-palette .logo {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0;
  background-image: linear-gradient(to bottom, rgba(31, 31, 31, 0.9), rgba(34, 34, 34, 0.8)), url(../img/banner.jpg);
}
.color-palette .logo img {
  width: 6rem;
}
.color-palette .logo h1 {
  font-size: 2.4rem;
  color: #fa769c;
  text-shadow: 0.1rem 0.1rem 0.5rem #58363f88;
  font-family: "Acme", "Arial Narrow", Arial, sans-serif;
  transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  -moz-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  -o-transform: translateY(1rem);
}
.color-palette .logo h1:hover {
  text-shadow: 0.2rem 0.2rem 1rem #f63858;
}
.color-palette .colors {
  overflow: hidden;
  width: 100%;
  min-height: 65vh;
  margin: 0rem auto;
  background-color: #444;
}
.color-palette .colors .color {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0rem 0rem 0.3rem 0rem #fff;
}
.color-palette .colors .color .hex {
  flex: 1 0 8rem;
  margin: 4rem auto;
  cursor: pointer;
}
.color-palette .colors .color .hex:hover {
  color: #153a5b;
}
.color-palette .colors .color .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2 1 5rem;
}
.color-palette .colors .color .controls .adjust {
  margin: 1rem auto;
  background: none;
  border: none;
  cursor: pointer;
}
.color-palette .colors .color .controls .adjust .fa-sliders-h {
  pointer-events: none;
}
.color-palette .colors .color .controls .adjust:hover {
  color: #153a5b;
}
.color-palette .colors .color .controls .lock {
  margin: 1rem auto;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.color-palette .colors .color .controls .lock .fa-lock-close,
.color-palette .colors .color .controls .lock .fa-lock-open {
  pointer-events: none;
}
.color-palette .colors .color .controls .lock:hover {
  color: #153a5b;
}
.color-palette .colors .color .slider {
  display: flex;
  position: relative;
  bottom: 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 0rem;
  padding: 1rem 1rem;
  background-color: white;
  width: 90%;
  opacity: 0;
  pointer-events: none;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.color-palette .colors .color .slider.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.color-palette .colors .color .slider .slider-close {
  background: none;
  border: none;
  color: #153a5b;
  cursor: pointer;
  flex-basis: 2rem;
  width: 2rem;
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}
.color-palette .colors .color .slider .slider-close .fa-close {
  pointer-events: none;
}
.color-palette .colors .color .slider .slider-close:hover {
  color: black;
}
.color-palette .colors .color .slider span {
  align-self: flex-start;
  margin: 0.5rem 1rem;
  color: #8c0327;
}
.color-palette .colors .color .slider .hue-input,
.color-palette .colors .color .slider .bright-input,
.color-palette .colors .color .slider .sat-input {
  width: 8rem;
  -webkit-appearance: none;
  background: #d9afa6;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  filter: drop-shadow(0px 0px 2px black);
  -webkit-filter: drop-shadow(0px 0px 2px black);
  width: 90%;
}
.color-palette .colors .color .slider .hue-input::-moz-range-thumb,
.color-palette .colors .color .slider .bright-input::-moz-range-thumb,
.color-palette .colors .color .slider .sat-input::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 1.5rem;
  width: 1rem;
  border-radius: 3px;
  background: radial-gradient(gold, #ff5e00);
  cursor: pointer;
}
.color-palette .colors .color .slider .hue-input::-webkit-slider-thumb,
.color-palette .colors .color .slider .bright-input::-webkit-slider-thumb,
.color-palette .colors .color .slider .sat-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 1.5rem;
  width: 1rem;
  border-radius: 3px;
  background: radial-gradient(gold, #ff5e00);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.color-palette .colors .color .slider .hue-input::-ms-thumb,
.color-palette .colors .color .slider .bright-input::-ms-thumb,
.color-palette .colors .color .slider .sat-input::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 1.5rem;
  width: 1rem;
  border-radius: 3px;
  background: radial-gradient(gold, #ff5e00);
  cursor: pointer;
}
.color-palette .panel {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(27, 27, 27, 0.8), rgba(24, 24, 24, 0.95)), url(../img/banner2.jpg);
  color: white;
}
.color-palette .panel .library-panel,
.color-palette .panel .generate-panel,
.color-palette .panel .save-panel {
  text-align: center;
}
.color-palette .panel .library-panel button,
.color-palette .panel .generate-panel button,
.color-palette .panel .save-panel button {
  background: radial-gradient(white, gold, transparent);
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0rem 0rem 0.5rem 0.2rem white;
  border: none;
  cursor: pointer;
  margin: 1rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.color-palette .panel .library-panel button i,
.color-palette .panel .generate-panel button i,
.color-palette .panel .save-panel button i {
  pointer-events: none;
  filter: drop-shadow(0rem 0rem 0.3rem rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(0rem 0rem 0.3rem rgba(0, 0, 0, 0.5));
}
.color-palette .panel .library-panel button:hover,
.color-palette .panel .generate-panel button:hover,
.color-palette .panel .save-panel button:hover {
  color: #153a5b;
}
.color-palette .copy-container, .color-palette .save-container, .color-palette .library-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
.color-palette .copy-container.active, .color-palette .save-container.active, .color-palette .library-container.active {
  opacity: 1;
  pointer-events: all;
}
.color-palette .copy-container .copy-popup, .color-palette .copy-container .save-popup, .color-palette .copy-container .library-popup, .color-palette .save-container .copy-popup, .color-palette .save-container .save-popup, .color-palette .save-container .library-popup, .color-palette .library-container .copy-popup, .color-palette .library-container .save-popup, .color-palette .library-container .library-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: white;
  width: 35%;
  min-height: 30%;
  padding: 2rem 3rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: transform 0.8s ease-in-out;
  -webkit-transition: transform 0.8s ease-in-out;
  -moz-transition: transform 0.8s ease-in-out;
  -ms-transition: transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
  transform: translateY(-2rem);
  -webkit-transform: translateY(-2rem);
  -moz-transform: translateY(-2rem);
  -ms-transform: translateY(-2rem);
  -o-transform: translateY(-2rem);
}
.color-palette .copy-container .copy-popup.active, .color-palette .copy-container .save-popup.active, .color-palette .copy-container .library-popup.active, .color-palette .save-container .copy-popup.active, .color-palette .save-container .save-popup.active, .color-palette .save-container .library-popup.active, .color-palette .library-container .copy-popup.active, .color-palette .library-container .save-popup.active, .color-palette .library-container .library-popup.active {
  transform: translateY(0rem);
  -webkit-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  -o-transform: translateY(0rem);
}
.color-palette .copy-container .copy-popup .closeSavePopup, .color-palette .copy-container .copy-popup .closelibPopup, .color-palette .copy-container .save-popup .closeSavePopup, .color-palette .copy-container .save-popup .closelibPopup, .color-palette .copy-container .library-popup .closeSavePopup, .color-palette .copy-container .library-popup .closelibPopup, .color-palette .save-container .copy-popup .closeSavePopup, .color-palette .save-container .copy-popup .closelibPopup, .color-palette .save-container .save-popup .closeSavePopup, .color-palette .save-container .save-popup .closelibPopup, .color-palette .save-container .library-popup .closeSavePopup, .color-palette .save-container .library-popup .closelibPopup, .color-palette .library-container .copy-popup .closeSavePopup, .color-palette .library-container .copy-popup .closelibPopup, .color-palette .library-container .save-popup .closeSavePopup, .color-palette .library-container .save-popup .closelibPopup, .color-palette .library-container .library-popup .closeSavePopup, .color-palette .library-container .library-popup .closelibPopup {
  position: absolute;
  top: 0.6rem;
  right: 0.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.color-palette .copy-container .copy-popup #save-name, .color-palette .copy-container .save-popup #save-name, .color-palette .copy-container .library-popup #save-name, .color-palette .save-container .copy-popup #save-name, .color-palette .save-container .save-popup #save-name, .color-palette .save-container .library-popup #save-name, .color-palette .library-container .copy-popup #save-name, .color-palette .library-container .save-popup #save-name, .color-palette .library-container .library-popup #save-name {
  padding: 0.6rem 0.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  font-family: "PT Serif", serif;
}
.color-palette .copy-container .copy-popup .save-submit, .color-palette .copy-container .save-popup .save-submit, .color-palette .copy-container .library-popup .save-submit, .color-palette .save-container .copy-popup .save-submit, .color-palette .save-container .save-popup .save-submit, .color-palette .save-container .library-popup .save-submit, .color-palette .library-container .copy-popup .save-submit, .color-palette .library-container .save-popup .save-submit, .color-palette .library-container .library-popup .save-submit {
  margin: 3rem 1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0rem 0rem 0.3rem 0rem black;
  padding: 0.5rem 4rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Birthstone", cursive;
  cursor: pointer;
  color: #153a5b;
  background-color: rgba(255, 217, 0, 0.5);
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  margin: 0.3rem;
  padding: 0.2rem 3rem;
  font-size: 2rem;
}
.color-palette .copy-container .copy-popup .lib-palette-container, .color-palette .copy-container .save-popup .lib-palette-container, .color-palette .copy-container .library-popup .lib-palette-container, .color-palette .save-container .copy-popup .lib-palette-container, .color-palette .save-container .save-popup .lib-palette-container, .color-palette .save-container .library-popup .lib-palette-container, .color-palette .library-container .copy-popup .lib-palette-container, .color-palette .library-container .save-popup .lib-palette-container, .color-palette .library-container .library-popup .lib-palette-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 1rem 0.1rem;
}
.color-palette .copy-container .copy-popup .lib-palette-container h5, .color-palette .copy-container .save-popup .lib-palette-container h5, .color-palette .copy-container .library-popup .lib-palette-container h5, .color-palette .save-container .copy-popup .lib-palette-container h5, .color-palette .save-container .save-popup .lib-palette-container h5, .color-palette .save-container .library-popup .lib-palette-container h5, .color-palette .library-container .copy-popup .lib-palette-container h5, .color-palette .library-container .save-popup .lib-palette-container h5, .color-palette .library-container .library-popup .lib-palette-container h5 {
  text-align: left;
  flex: 1 1 5rem;
}
.color-palette .copy-container .copy-popup .lib-palette-container .lib-color-container, .color-palette .copy-container .save-popup .lib-palette-container .lib-color-container, .color-palette .copy-container .library-popup .lib-palette-container .lib-color-container, .color-palette .save-container .copy-popup .lib-palette-container .lib-color-container, .color-palette .save-container .save-popup .lib-palette-container .lib-color-container, .color-palette .save-container .library-popup .lib-palette-container .lib-color-container, .color-palette .library-container .copy-popup .lib-palette-container .lib-color-container, .color-palette .library-container .save-popup .lib-palette-container .lib-color-container, .color-palette .library-container .library-popup .lib-palette-container .lib-color-container {
  display: flex;
  margin: 0rem 1rem;
  flex: 1 1 6rem;
  min-width: 10rem;
  height: 3.5rem;
  box-shadow: 0rem 0rem 0.3rem 0.1rem black;
}
.color-palette .copy-container .copy-popup .lib-palette-container .lib-color-container .lib-color-div, .color-palette .copy-container .save-popup .lib-palette-container .lib-color-container .lib-color-div, .color-palette .copy-container .library-popup .lib-palette-container .lib-color-container .lib-color-div, .color-palette .save-container .copy-popup .lib-palette-container .lib-color-container .lib-color-div, .color-palette .save-container .save-popup .lib-palette-container .lib-color-container .lib-color-div, .color-palette .save-container .library-popup .lib-palette-container .lib-color-container .lib-color-div, .color-palette .library-container .copy-popup .lib-palette-container .lib-color-container .lib-color-div, .color-palette .library-container .save-popup .lib-palette-container .lib-color-container .lib-color-div, .color-palette .library-container .library-popup .lib-palette-container .lib-color-container .lib-color-div {
  flex: 1 1 1.5rem;
}
.color-palette .copy-container .copy-popup .lib-palette-container button, .color-palette .copy-container .save-popup .lib-palette-container button, .color-palette .copy-container .library-popup .lib-palette-container button, .color-palette .save-container .copy-popup .lib-palette-container button, .color-palette .save-container .save-popup .lib-palette-container button, .color-palette .save-container .library-popup .lib-palette-container button, .color-palette .library-container .copy-popup .lib-palette-container button, .color-palette .library-container .save-popup .lib-palette-container button, .color-palette .library-container .library-popup .lib-palette-container button {
  margin: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
.color-palette .copy-container .copy-popup .lib-palette-container button.delete-lib-item, .color-palette .copy-container .save-popup .lib-palette-container button.delete-lib-item, .color-palette .copy-container .library-popup .lib-palette-container button.delete-lib-item, .color-palette .save-container .copy-popup .lib-palette-container button.delete-lib-item, .color-palette .save-container .save-popup .lib-palette-container button.delete-lib-item, .color-palette .save-container .library-popup .lib-palette-container button.delete-lib-item, .color-palette .library-container .copy-popup .lib-palette-container button.delete-lib-item, .color-palette .library-container .save-popup .lib-palette-container button.delete-lib-item, .color-palette .library-container .library-popup .lib-palette-container button.delete-lib-item {
  color: #ff0055;
}
.color-palette .copy-container .copy-popup .lib-palette-container button.select-lib-item, .color-palette .copy-container .save-popup .lib-palette-container button.select-lib-item, .color-palette .copy-container .library-popup .lib-palette-container button.select-lib-item, .color-palette .save-container .copy-popup .lib-palette-container button.select-lib-item, .color-palette .save-container .save-popup .lib-palette-container button.select-lib-item, .color-palette .save-container .library-popup .lib-palette-container button.select-lib-item, .color-palette .library-container .copy-popup .lib-palette-container button.select-lib-item, .color-palette .library-container .save-popup .lib-palette-container button.select-lib-item, .color-palette .library-container .library-popup .lib-palette-container button.select-lib-item {
  color: #1aff1a;
}
.color-palette .copy-container .copy-popup .lib-palette-container button i, .color-palette .copy-container .save-popup .lib-palette-container button i, .color-palette .copy-container .library-popup .lib-palette-container button i, .color-palette .save-container .copy-popup .lib-palette-container button i, .color-palette .save-container .save-popup .lib-palette-container button i, .color-palette .save-container .library-popup .lib-palette-container button i, .color-palette .library-container .copy-popup .lib-palette-container button i, .color-palette .library-container .save-popup .lib-palette-container button i, .color-palette .library-container .library-popup .lib-palette-container button i {
  pointer-events: none;
}

/*# sourceMappingURL=overal-style.css.map */
