* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Acme", sans-serif;
  color: rgb(51, 51, 51);
  background-color: #333333 ;
}
path,
svg,
i {
  pointer-events: none;
}
.logo {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0;
  background-image: linear-gradient(to bottom,rgba(31, 31, 31, 0.9),rgb(34, 34, 34,0.8)),url(../img/banner.jpg);
}
.logo img{
  width: 6rem;
}
.logo h1{
  font-size: 2.4rem;
  color: #fa769c;
  text-shadow: 0.1rem 0.1rem 0.5rem #58363f88;
  font-family: "Acme", "Arial Narrow", Arial, sans-serif;
  transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  -moz-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  -o-transform: translateY(1rem);
}
.logo h1:hover{
  text-shadow: 0.2rem 0.2rem 1rem rgb(246, 56, 88);
}
.colors {
  height: 65vh;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  align-items: flex-start;
  color: rgb(200, 200, 200);
  overflow: hidden;
}
.color {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.color h2 {
  font-size: 2.4rem;
  margin: 4rem 0;
  cursor: pointer;
}
.controls {
  display: flex;
  flex-direction: column;
}
.adjust {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  margin: 6rem 0rem 2rem 0rem;
  cursor: pointer;
}
.lock {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  margin: 2rem 0rem;
  cursor: pointer;
}
.sliders {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.2rem;
  width: 80%;
  position: absolute;
  bottom: 0%;
  color: black;
  background-color: white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  pointer-events: none;
  opacity: 0;
  transform: translateY(10rem);
  -webkit-transform: translateY(10rem);
  -moz-transform: translateY(10rem);
  -ms-transform: translateY(10rem);
  -o-transform: translateY(10rem);
}
.sliders.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}
.close-adjustment {
  position: absolute;
  width: 2rem;
  padding: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  top: 0;
  right: 0rem;
  border: none;
  background-color: rgb(3, 152, 179);
  color: white;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 1rem;
}
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  margin: 0.5rem 0;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: radial-gradient(white, rgb(202, 172, 1), black);
  position: relative;
  z-index: 3;
  border: none !important;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: radial-gradient(white, rgb(202, 172, 1), black);
  position: relative;
  z-index: 3;
  border: none !important;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}
.panel {
  display: flex;
  min-height: 20vh;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to bottom,rgba(27, 27, 27, 0.8),rgba(24, 24, 24, 0.95)),url(../img/banner2.jpg);
  color: white;
}
.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.library,
.generate,
.save {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  color: white;
  background-color: rgb(3, 152, 179);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.copy-container, .save-container, .library-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
}
.copy-popup, .save-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30rem;
  height: 15rem;
  font-size: 2.2rem;
  background-color: white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transform: translateY(-2rem);
  -webkit-transform: translateY(-2rem);
  -moz-transform: translateY(-2rem);
  -ms-transform: translateY(-2rem);
  -o-transform: translateY(-2rem);
}
.copy-container.active, .save-container.active, .library-container.active {
  pointer-events: all;
  opacity: 1;
}
.copy-popup.active, .save-popup.active, .library-popup.active {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.save-popup .close-save, .library-popup .close-library{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem;
  border: none;
  background-color: rgb(3, 152, 179);
  color: white;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0.7rem;
}
.save-popup .save-name{
  padding: 0.8rem;
  font-size: 1.6rem;
  outline: none;
  background-color: antiquewhite;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}
.save-popup .submit-save{
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  background-color: rgb(3, 152, 179);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}
.library-popup{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  min-width: 40rem;
  min-height: 20vh;
  max-height: 80vh;
  overflow: auto;
  padding: 2rem 0;
  background-color: white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transform: translateY(-2rem);
  -webkit-transform: translateY(-2rem);
  -moz-transform: translateY(-2rem);
  -ms-transform: translateY(-2rem);
  -o-transform: translateY(-2rem);
}
.library-popup h4{
  position: relative;
  top: 0;
}
.palette-container {
  width: 95%;
  height: 100%;
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.palette-container h4 {
  flex: 1;
  color: rgb(240, 105, 9);
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  margin-right: 2rem;
}
.small-pallete-container{
  display: flex;
}
.small-palette{
  width: 2rem;
  height: 3rem;
}
.palette-container .palette-select{
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(3, 152, 179);
  color: white;
  margin-left: 1rem;
  height: 3rem;
  padding: 0 0.3rem;
  border-radius:0.5rem;
  -webkit-border-radius:0.5rem;
  -moz-border-radius:0.5rem;
  -ms-border-radius:0.5rem;
  -o-border-radius:0.5rem;
}
.palette-remove{
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(255, 7, 56);
  margin-right: 1rem;
  color: white;
  height: 3rem;
  padding: 0 0.3rem;
  border-radius:0.5rem;
  -webkit-border-radius:0.5rem;
  -moz-border-radius:0.5rem;
  -ms-border-radius:0.5rem;
  -o-border-radius:0.5rem;
}